body{
	background-color:#fce1e7;
	font-family: 'Baloo 2';
}
h2
{
	border: 2px #a87272 dotted;
	padding: 2px;
    margin-right: 700px;
    margin-left: 700px;
    margin-bottom: 20px;
}
.purple{
	font-size: 22px;
	margin: 25px 200px;
	
}
.green{
	font-size: 20px;
	margin-top: 70px;
	margin-left: 50px;

}
.brown{
	font-weight: bold;
}
.red{
	margin-bottom: 50px;
	margin-top: -20px;
	font-size: 20px;
}